

<div class="introPage">
    <header class="header">
      <div class="logoContainer">
        <img src="/assets/images/AU_logo.png" alt="Logo" class="logo" />
      </div>
      <div class="authOptions">
        <button class="loginButton" (click)="onLogin()">Login</button>
        <span> or </span>
        <button class="signupButton" (click)="onSignup()">Sign Up</button>
      </div>
    </header>
    <main class="mainContent">
      <h1 class="auctionText">E-auctions made easy!</h1>
      <p>This is some text explaining your app, its features, and how it makes e-auctions easy for everyone.</p>
      <button class="startBiddingButton">Start Bidding</button>
      <div class="visual">
        <img src="/assets/images/presentacija.png" alt="Visual Representation" class="visualRepresentation" />
      </div>
    </main>
    <footer class="footer">
      <p>&#64;Matej-Krivec-Skill-Up-Mentor</p>
    </footer>
  </div>
  
