.auctionStatus {
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 10px;
  }

  .auctionItemContainer {
    background-color: #f2f2f2;
    padding: 5px; 
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 15rem;
    height: 18rem;
  }
  
  .statusContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .TimeParagraphItem {
    font-size: 1px; 
  }
  
  .nameContainer {
    font-size: 14px; 
    margin-bottom: 3%;
  }
  
  .price {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px; 
  }
  
  .Pic {
    width: 100%;
    height: 58%;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .auctionStatus {
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 10px;
    padding: 2%;
  }
  
  
  